* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header{
    background-color: rgb(230, 122, 13);
    display: flex;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    z-index: 10;
}

.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo{
    width: 8em; 
    padding: 1em;
}

.gender a{
    text-decoration: none;
    color: white;
}

/* main */

main{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.container{
    max-width: 1100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    gap: 1em;
    margin-top: 7em;
}

.box-content{
    position: relative; 
}

.box-img{
    position: relative;
    width: 18em;
    height: 28em;  
}

.subtext{
    
}

.price{
    text-decoration: line-through;
    color: black;
}

.sale{
    color: red;
}

.discount{
    background-color: rgb(184, 27, 27);
    color: white;
    position: absolute;
    left: 0;
    bottom: 25px;
    padding: 0.1em;
}

.eco{
    background-color: rgb(27, 184, 64);
    color: white;
    position: absolute;
    left: 40px;
    bottom: 25px;
    padding: 0.1em;
}

.only-eco{
    position: absolute;
    left: 0;
    bottom: 25px;
    padding: 0.1em;
}

.heart{
    color: rgb(0, 0, 0);
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
}

.model1{
    background-image: url(../img/1.webp);
    background-size: cover;
}

.model2{
    background-image: url(../img/2.webp);
    background-size: cover;
}

.model3{
    background-image: url(../img/3.webp);
    background-size: cover;
}

.model4{
    background-image: url(../img/4.webp);
    background-size: cover;
}

.model5{
    background-image: url(../img/5.webp);
    background-size: cover;
}

.model6{
    background-image: url(../img/6.webp);
    background-size: cover;
}

/* hover */

.box-img:hover .heart{
    color: red;
  }

.model1:hover {
    background-image: url(../img/1b.webp);
    background-size: cover;
  }

.model2:hover{
    background-image: url(../img/2b.webp);
    background-size: cover;
}

.model3:hover{
    background-image: url(../img/3b.webp);
    background-size: cover;
}

.model4:hover{
    background-image: url(../img/4b.webp);
    background-size: cover;
}

.model5:hover{
    background-image: url(../img/5b.webp);
    background-size: cover;
}

.model6:hover{
    background-image: url(../img/6b.webp);
    background-size: cover;
}

/* footer */

